// @import './base/base';

$primary-color:#00CA99;
$spacing-base: 16px;

*{
   outline:1px solid#000;
}

.bg-top{
    background-color: #f6f6f6;
    &--style{
        letter-spacing: 2px;
    }
}

.bg-cover{
    background-position: center center;
    background-size: cover;
}

.icon-facebook{
    color:blue;
    &:after{
        color:blue;
        content:'|';
        margin: 0 5px;
    }
}

.icon-twitter{
    color:#00AAEC;
}

.nav-link{
    color:#00CA99;
    &:hover{
        text-decoration: underline;
        color:darken(#00CA99, 10%);
    }
}

.img-title{
    position: absolute;
    top:30%;
    left:3%;
    &--style{
        background-color: rgba($color: #000000, $alpha: 0.6);
    }
}

.itemText{
    color:#5abb9a;
}

.card--style{
    box-shadow: 2px 3px 2px #eaeaea;
}

.custom{
    &__block{
        display:flex; 
        justify-content: center;
    }
    &--center{
        margin-top: $spacing-base*1.5;
        text-align: center;
        letter-spacing: 2px;
    }
    &--left{
         text-align: left;
    }
}

.bg-form{
    background-color: #2D6B50;
}


label {
    margin-bottom: 0px;
    color:white;
}

.btn-send{
    color: white;
    background-color: #45e0b4;
    &:hover{
        background-color: lighten(#45e0b4, 20%);
    }
}



@media screen and (max-width:768px){
    .img-class{
        margin:0 auto;
    }
    .nav-link{
        border:1px solid;
        text-decoration: none;
        background-color: darken($primary-color, 30%);
    }    
}